.header {
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border: 2px solid;
  margin: 10px;
}

li {
  padding: 35px 20px;
  list-style: none;
  font-size: 17px;
  font-weight: 600;
}

.logo-image {
  height: 150px;
  padding-left: 10px;
}

.header-list {
  display: flex;
  padding-right: 20px;
}
